.content {
    background-image: url('../imgs/backgroundCourse.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px;
    text-align: center;
    color: black; /* Ensure text is visible on the background */
    border-radius: 10px; /* Optional: for better styling */
    margin: 20px;
  }
  
  .content-text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .free-trial-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  