<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <welcome-file-list>
        <welcome-file>views/Tamnh/index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>DashboardLectures</servlet-name>
        <servlet-class>controller.DashboardLectures</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewSubject</servlet-name>
        <servlet-class>controller.NewSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetail</servlet-name>
        <servlet-class>controller.CourseDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardLectures</servlet-name>
        <url-pattern>/dashboardlectures</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewSubject</servlet-name>
        <url-pattern>/newsubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetail</servlet-name>
        <url-pattern>/coursedetail</url-pattern>
    </servlet-mapping>
</web-app>
