.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b0ff88; /* Light green background color */
    padding: 10px;
  }
  
  .logo-img {
    height: 50px;
  }
  
  .search-bar {
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .nav-buttons {
    display: flex;
    gap: 10px;
  }
  
  .login-button,
  .join-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button {
    background-color: #ffffff;
  }
  
  .join-button {
    background-color: #4CAF50;
    color: white;
  }
  